* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(16 20 24);
}
.container {
  width: 90%;
  margin: 0 auto;
}

.header img {
  width: 5%;
}

#header {
  padding: 20px 0;
  background: #10151a;
  color: #4d7ff0;
  border-bottom: 1px solid grey;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
